body {
    font-family:verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:12px;
    margin:0;
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.label-top{
    display: block;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
}
.logo{
    color:#FFFFFF;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.logo_sub{
    color:#FFFFFF;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.applogo {
    width: 250px;
    height: 45px;
    background: rgba(0, 0, 0, 0.14);
    position: relative;
    padding: 5px 0 0 0px;
    float: left;
    text-align: center;
}

.appfoot{
    width: 100%;
    height: 40px;
    position: relative;
    padding:10px 0 0 0px;
    text-align: center;
}
.foot{
    color:#FFFFFF;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.bodyContainer{
    width: 95%;
    margin: 20px auto;
}