<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ZH V1.0</title>
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/huluobo.css">
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.easyui.min.js"></script>
    <style>
        .tree-expanded {
            background: none;
        }
        .tree-collapsed {
            background: none;
        }
    </style>
</head>
<body class="easyui-layout">
<!--######################################### 上部 #################################################-->
<div data-options="region:'north',border:false" style="height:60px;background:#399bff;">
    <div class="applogo">
        <span class="logo">ZH</span>
        <span class="logo_sub">V1.0</span>
    </div>
</div>
<!--######################################## 左侧树 #################################################-->
<div data-options="region:'west',title:' ',border:true" style="width:250px;">
    <div class="easyui-panel" style="padding:5px 0 0 0;border: none;">
        <ul id="menuTree"></ul>
    </div>
</div>
<!--########################################## 面板 #################################################-->
<div data-options="region:'center',border:false">
    <div id="tabs" class="easyui-tabs" data-options="fit:true, border:false">

    </div>
</div>
<!--########################################## 底部 #################################################-->
<div data-options="region:'south',border:false" style="height:50px;background: #3d464d;">
    <div class="appfoot">
        <span class="foot">zhangh</span>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        //初始化树组件
        $('#menuTree').tree();
        var myData = {}
        $.ajax({
            url: '/zhangh/system/menu/queryMenu',
            type: 'post',
            data: JSON.stringify(myData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                $('#menuTree').tree({
                    data: resultData.data,
                    onClick: function (node) {
                        var url = node.url;
                        if (url != null && url != '') {
                            var title = node.text;
                            //开启选项卡
                            addTab(url,title,true);
                        } else {
                            //状态为关闭而且非叶子节点
                            if (node.state == 'closed' && (!$("#menuTree").tree('isLeaf', node.target))) {
                                //点击文字展开菜单
                                $(this).tree('expand', node.target);
                            } else {
                                $(this).tree('collapse', node.target);
                            }
                        }
                    }
                });
            }
        });

        addTab('views/welcome.html',"工作台",false);
    });
    //新增选项卡
    function addTab(url,title,closable) {
        // 检验是否存在tab,如果存在，则打开已有的
        if ($("#tabs").tabs('exists', title)) {
            //选中tab并显示
            $("#tabs").tabs('select', title);
            var currTab = $('#tabs').tabs('getSelected');
            //刷新此列表
            $("#tabs").tabs('update',{
                tab:currTab,
                href:url
            })
        } else {
            // 如果没有此tab，创建一个新的tab
            $("#tabs").tabs('add', {
                title: title,
                href: url,
                closable: closable
            })
        }
    }

</script>
</html>