<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Full Layout - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/huluobo.css">
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height:60px;background:#399bff;">
        <div class="applogo">
            <span class="logo">
                ZH
            </span>
        </div>

    </div>
    <div data-options="region:'west',title:'主目录'"  style="width:250px;">
        west content
    </div>
    <!--<div data-options="region:'east',collapsed:true,title:'East'" style="width:150px;">east region</div>-->
    <div data-options="region:'south',border:false" style="height:50px;background: #3d464d;">south region</div>
    <div data-options="region:'center'"></div>
</body>
</html>