<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ZH V1.0</title>
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/huluobo.css">
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.easyui.min.js"></script>
</head>
<body class="easyui-layout">
<div data-options="region:'north',border:false" style="height:60px;background:#399bff;">
    <div class="applogo">
        <span class="logo">ZH</span>
        <span class="logo_sub">V1.0</span>
    </div>

</div>
<div data-options="region:'west',title:'主目录',border:true" style="width:250px;">
    <div class="easyui-panel" style="padding: 5px;border: none;">
        <ul id="menuTree"></ul>
    </div>
</div>
<div data-options="region:'center',border:false">
    <div id="tabs" class="easyui-tabs" data-options="fit:true, border:false"></div>
</div>
<div data-options="region:'south',border:false" style="height:50px;background: #3d464d;">
    <div class="appfoot">
        <span class="foot">zhangh</span>
    </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function () {
        //初始化树组件
        $('#menuTree').tree();
        var myData = {}
        $.ajax({
            url: '/zhangh/system/menu/queryMenu',
            type: 'post',
            data: JSON.stringify(myData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                $('#menuTree').tree({
                    data: resultData.data,
                    onClick: function (node) {
                        //判断是否需要展打开tabs
                        if (node.url != null && node.url != '') {
                            // 检验是否存在tab,如果存在，则打开已有的
                            if ($("#tabs").tabs('exists', node.text)) {
                                $("#tabs").tabs('select', node.text);
                            } else {
                                // 如果没有此tab，创建一个新的tab
                                $("#tabs").tabs('add', {
                                    title: node.text,
                                    content: node.text,
                                    closable: true
                                })
                            }
                        } else {
                            //状态为关闭而且非叶子节点
                            if (node.state == 'closed' && (!$("#menuTree").tree('isLeaf', node.target))) {
                                //点击文字展开菜单
                                $(this).tree('expand', node.target);
                            } else {
                                $(this).tree('collapse', node.target);
                            }
                        }
                    }
                });
            }
        })


    });
</script>
</html>