<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

    <!-- 扫描web相关的bean -->
    <context:component-scan base-package="com.huluobo.module.controller"/>

    <!-- 开启SpringMVC注解模式 -->
    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="com.huluobo.core.converter.RequestDataArgumentResolver">
                <constructor-arg>
                    <list>
                        <bean class="com.huluobo.core.converter.RequestDataMessageConverter"></bean>
                    </list>
                </constructor-arg>
            </bean>
        </mvc:argument-resolvers>
        <mvc:message-converters register-defaults="false">
            <!-- 配置Fastjson支持 -->
            <bean id="fastJsonHttpMessageConverter" class="com.huluobo.core.converter.FastJsonMessageConverter" />
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 静态资源默认servlet配置 -->
    <mvc:default-servlet-handler/>

    <!--<mvc:resources mapping="/static/**" location="/WEB-INF/static/"/>-->


</beans>