<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huluobo.module.mapper.DictTypeMapper">

  <!--查询字典类型列表-->
    <select id="queryDictType" parameterType="string" resultType="map">
        SELECT
            T1.DICT_TYPE_ID AS dictTypeId,
            T1.DICT_TYPE_DETAIL AS dictTypeDetail,
            T1.DICT_TYPE_CODE AS dictTypeCode,
            T1.DICT_TYPE_NAME AS dictTypeName,
            T1.EXECUTIVE_STANDARD AS executiveStandard,
            T1.CATEGORY AS category,
            T1.DICT_TYPE_STATUS AS dictTypeStatus
        FROM
            syst_dict_type T1
        <where>
            <if test="dictTypeCode != null and dictTypeCode != ''">
                and T1.DICT_TYPE_CODE like concat('%',#{dictTypeCode},'%')
            </if>
        </where>
    </select>


</mapper>