<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huluobo.module.mapper.DictTypeMapper">

    <!--查询字典类型列表-->
    <select id="queryDictType" parameterType="string" resultType="map">
        SELECT
        T1.DICT_TYPE_ID AS dictTypeId,
        T1.DICT_TYPE_DETAIL AS dictTypeDetail,
        T1.DICT_TYPE_CODE AS dictTypeCode,
            T1.DICT_TYPE_NAME AS dictTypeName,
            T1.EXECUTIVE_STANDARD AS executiveStandard,
            T1.CATEGORY AS category,
            T1.DICT_TYPE_STATUS AS dictTypeStatus
        FROM
            syst_dict_type T1
        <where>
            <if test="dictTypeCode != null and dictTypeCode != ''">
                and T1.DICT_TYPE_CODE like concat('%',#{dictTypeCode},'%')
            </if>
        </where>
    </select>

    <!--新增字典类型列表-->
    <insert id="insertDictType" parameterType="dictType">
        INSERT INTO
            syst_dict_type
        VALUES (
            #{dictTypeId},
            #{dictTypeDetail},
            #{dictTypeCode},
            #{dictTypeName},
            #{executiveStandard},
            #{category},
            #{dictTypeStatus},
            #{createTime},
            #{createUser},
            #{createIp},
            #{storeTime},
            #{storeUser},
            #{storeIp}
        )
    </insert>

    <!--字典类型详情-->
    <select id="detailDictType" parameterType="string" resultType="map">
        SELECT
            DICT_TYPE_ID AS dictTypeId,
            DICT_TYPE_DETAIL AS dictTypeDetail,
            DICT_TYPE_CODE AS dictTypeCode,
            DICT_TYPE_NAME AS dictTypeName,
            EXECUTIVE_STANDARD AS executiveStandard,
            CATEGORY AS category,
            DICT_TYPE_STATUS AS dictTypeStatus
        FROM
            syst_dict_type
        WHERE
            DICT_TYPE_ID = #{dictTypeId}
    </select>


</mapper>