<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="bodyContainer">
    <table id="dictTypeList" class="easyui-datagrid">
        <thead>
        <tr>
            <th data-options="field:'dictTypeCode',width:'50px'">字典类型编码</th>
            <th data-options="field:'dictTypeName',width:'50px'">字典类型名称</th>
            <th data-options="field:'category',width:'50px'">所属类别</th>
            <th data-options="field:'dictTypeDetail',width:'50px'">字典类型描述</th>
            <th data-options="field:'executiveStandard',width:'50px'">执行标准</th>
            <th data-options="field:'dictTypeStatus',width:'50px'">状态</th>
        </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true"
           onclick="openDictType('新增字典类型','/zhangh/system/dictType/insertDictTypes')">新增字典类型</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑字典类型</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true"
           onclick="destroyUser()">删除字典类型</a>
    </div>

    <div id="dictType" class="easyui-dialog" style="width:500px"
         data-options="closed:true,modal:true,border:'thin',buttons:'#dictType-buttons'">
        <form id="dictTypeForm" novalidate style="margin:0;padding:20px 20px">
            <div style="margin-bottom:10px">
                <input name="dictTypeCode" class="easyui-textbox" required="true" label="字典类型CODE" labelWidth="120px"
                       style="width: 100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dictTypeName" class="easyui-textbox" required="true" label="字典类型名称" labelWidth="120px"
                       style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="category" class="easyui-textbox" required="true" label="所属类别" labelWidth="120px"
                       style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dictTypeDetail" class="easyui-textbox" required="true" label="字典类型描述" labelWidth="120px"
                       style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="executiveStandard" class="easyui-textbox" required="true" label="执行标准" labelWidth="120px"
                       style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="dictTypeStatus" class="easyui-textbox" required="true" label="状态" labelWidth="120px"
                       style="width:100%">
            </div>
        </form>
    </div>
    <div id="dictType-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="insertDictType()"
           style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel"
           onclick="javascript:$('#dictType').dialog('close')" style="width:90px">Cancel</a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //列表
        $('#dictTypeList').datagrid({
            fitColumns: true,
            pagination: true,
            rownumbers: true,
            singleSelect: true,
            toolbar: '#toolbar'
        });
        var myData = {}
        $.ajax({
            url: '/zhangh/system/dictType/queryDictType',
            type: 'post',
            data: JSON.stringify(myData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                var data = resultData.data;
                $('#dictTypeList').datagrid({
                    data: data
                });
            }
        });
    });

    var url;

    //弹窗
    function openDictType(title, respectiveUrl) {
        $('#dictType').dialog('open').dialog('center').dialog('setTitle', title);
        $('#dictTypeForm').form('clear');
        url = respectiveUrl;
    }

    //新增
    function insertDictType() {
        var myData = $('#dictTypeForm').serializeJson();
        $.ajax({
            url: '/zhangh/system/dictType/insertDictType',
            type: 'post',
            data: JSON.stringify(myData),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                var code = resultData.code;
                $.messager.show({
                    msg: resultData.msg,
                    showType:'fade',
                    style:{
                        right:0,
                        top:'50px',
                        left:""
                    }
                });
                if (1 == code) {
                    $('#dictType').dialog('close');
                    $('#dictTypeList').datagrid('reload');
                }
            }
        });
    }


</script>
</body>

</html>