<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/material-teal/easyui.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/huluobo.css">
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.easyui.min.js"></script>
</head>
<body>
    <div class="bodyContainer">
        <table id="dictTypeList" class="easyui-datagrid">
            <thead>
                <tr>
                    <th data-options="field:'dictTypeCode',width:'50px'">字典类型编码</th>
                    <th data-options="field:'dictTypeName',width:'50px'">字典类型名称</th>
                    <th data-options="field:'category',width:'50px'">所属类别</th>
                    <th data-options="field:'dictTypeDetail',width:'50px'">字典类型描述</th>
                    <th data-options="field:'executiveStandard',width:'50px'">执行标准</th>
                    <th data-options="field:'dictTypeStatus',width:'50px'">状态</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openDictType('新增字典类型','/zhangh/system/dictType/insertDictTypes')">新增字典类型</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑字典类型</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除字典类型</a>
        </div>

        <div id="dictType" class="easyui-dialog" style="width:500px" data-options="closed:true,modal:true,border:'thin',buttons:'#dictType-buttons'">
            <form id="dictTypeForm" novalidate style="margin:0;padding:20px 20px">
                <div style="margin-bottom:10px">
                    <input name="dictTypeName" class="easyui-textbox" required="true" label="字典类型名称" labelWidth="100px" style="width:100%">
                </div>
                <div style="margin-bottom:10px">
                    <input name="category" class="easyui-textbox" required="true" label="所属类别" labelWidth="100px" style="width:100%">
                </div>
                <div style="margin-bottom:10px">
                    <input name="dictTypeDetail" class="easyui-textbox" required="true"  label="字典类型描述" labelWidth="100px" style="width:100%">
                </div>
                <div style="margin-bottom:10px">
                    <input name="executiveStandard" class="easyui-textbox" required="true"  label="执行标准" labelWidth="100px" style="width:100%">
                </div>
                <div style="margin-bottom:10px">
                    <input name="dictTypeStatus" class="easyui-textbox" required="true"  label="状态" labelWidth="100px" style="width:100%">
                </div>
            </form>
        </div>
        <div id="dictType-buttons">
            <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="insertDictType()" style="width:90px">Save</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dictType').dialog('close')" style="width:90px">Cancel</a>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            //列表
            $('#dictTypeList').datagrid({
                fitColumns:true,
                pagination:true,
                rownumbers:true,
                singleSelect: true,
                toolbar:'#toolbar'
            });
            var myData = {}
            $.ajax({
                url: '/zhangh/system/dictType/queryDictType',
                type: 'post',
                data: JSON.stringify(myData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success:function (resultData) {
                    var data = resultData.data;
                    $('#dictTypeList').datagrid({
                        data:data
                    });
                }
            });
        });

        var url;

        //弹窗
        function openDictType(title,respectiveUrl){
            $('#dictType').dialog('open').dialog('center').dialog('setTitle',title);
            $('#dictTypeForm').form('clear');
            url = respectiveUrl;
        }

        //新增
        function insertDictType(){
            var myData = $('#dictTypeForm').serialize();
            $.ajax({
                url: '/zhangh/system/dictType/insertDictType',
                type: 'post',
                data: JSON.stringify(myData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success:function (resultData) {
                    
                }
            });

            // $('#dictTypeForm').form('submit',{
            //     url: url,
            //     onSubmit: function(){
            //         return $(this).form('validate');
            //     },
            //     success: function(result){
            //         var result = eval('('+result+')');
            //         if (result.errorMsg){
            //             $.messager.show({
            //                 title: 'Error',
            //                 msg: result.errorMsg
            //             });
            //         } else {
            //             $('#dlg').dialog('close');        // close the dialog
            //             $('#dg').datagrid('reload');    // reload the user data
            //         }
            //     }
            // });
        }


    </script>
</body>

</html>