<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/metro/easyui.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="/zhangh/static/easyui/huluobo.css">
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/zhangh/static/easyui/jquery.easyui.min.js"></script>
</head>
<body>

</body>
</html>